@using Messenger.App.DTOs
@model List<GetUsersDTO>

@{
    ViewData["Title"] = "Users List";
    Layout = "_Layout";
}

<div class="header-bar">
    <h2>Users</h2>
    <form method="get" action="@Url.Action("Login", "User")">
        <button type="submit" class="btn btn-secondary">Singn out</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <a href="@Url.Action("GetMessage", "Message", new { recipientId = user.Id, senderId = ViewBag.CurrentUserId })" class="btn btn-primary">
                        View Messages
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
</style>